.border-top {
	border-top: 1px solid black;
}

.border-right {
	border-right: 1px solid black;
}

.border-bottom {
	border-bottom: 1px solid black;
}

.border-left {
	border-left: 1px solid black;
}

.currentPosition {
	font-weight: bold;
}