#arrayDrawn td {
	width: 15px;
	height: 15px;

}

.white {
	background-color: white;
	color: black;
}

.black {
	background-color: black;
	color: white;
}

.currentPosition {
	font-weight: bold;
	background-color: red;
}

#arrowfield {
	height: 50px;
	width: 50px;
	background-size: 50px 50px;
	background-repeat: no-repeat;
}

.orientation-top {
	background: url("arrow-top.png");
}

.orientation-right {
	background: url("arrow-right.png");
}

.orientation-bottom {
	background: url("arrow-bottom.png");
}

.orientation-left {
	background: url("arrow-left.png");
}